<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello World!</title>
        <th:block th:include="fragments/head :: head"/>
    </head>
    <body>
    <div class="container-fluid">
        <div class="row">
            <div class="box col-md-6 col-md-offset-3">
                <div class="stormpath-header">
                    <img src="https://stormpath.com/images/template/logo-nav.png"/>
                </div>
                <p/>
                <h1 th:inline="text">Welcome [[${organization}]] Organization to WizBang!</h1>
                <img th:if="${orgImageHref}" th:src="${orgImageHref}" width="300"/>

                <h1 th:inline="text">Hey, [[${account.fullName}]]</h1>

                <a class="btn btn-danger" href="/logout">Log Out</a>
                <a class="btn btn-success" href="/">Go Home</a>
            </div>
        </div>
    </div>

    </body>
</html>